<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Entry</title>

<style>
    button {
        width:200px;
        height:70px;
        background-color:blue;
        color:white;
        font-size:20px;
        margin-top:5em;

    }

    button:hover{
    background-color:skyblue;
    }
</style>
</head>
<body style="background-color:skyblue">
<center>
    <div style="background-color:white;width:400px;height:695px;">
        <br>
        <br>
        <br>
        <br>
        <button onclick="location.href='{%url 'login1'%}'">Admin Login</button><br>
        <button onclick="location.href='{%url 'login'%}'">User Login</button>
    </div>
</center>
</body>
</html>